@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;900&family=Nunito+Sans:wght@300;600;800&family=Poppins:wght@300;500&display=swap');


#preloader{
    background:  url(images/loader.gif) no-repeat center center;
    background-size: 50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #eee;
  }

body{
    font-family: 'Lato';
}

html::-webkit-scrollbar {
    width: 15px
  }
  
  html::-webkit-scrollbar-thumb {
    background: #294658;
  }
  html::-webkit-scrollbar-track {
    background: transparent;
  }


.container-fluid{
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    z-index: 999;
}

.left-header{
    padding: 5px 5px;
    margin-left: 40px;
    position: relative;
}

.left-header img{
    width: 150px;
    z-index: 9999;
}

.navbar{
    margin: 0;
}

.nav-link{
    font-weight: 700;
    font-size: 18px;
    color: #284658;
    text-decoration: none;
}

.nav-link:hover{
    color: #284658;
    text-decoration: none;
    border-bottom: 2px solid #37b1e2;
}

.headings{
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

.headings::after {
    content: "";
    display: flex;
    margin: 0px auto;
    text-align: center;
    border-bottom: 2px solid orange;
    width: 25%;
    position: relative;
    bottom: -10px;
  }



.banner-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 20px;
}

.banner-form-mobile{
    display: none;
    padding: 10px 25px;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 0 20px;
}

.banner-btn-mobile{
    background: #ffcc00;
    color: #222529;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    font-weight: 600;
    width: max-content;
    margin: 0px auto;
}

.banner-btn-mobile:hover{
    cursor: pointer;
    background-color: #37b1e2;
}


.banner-btn{
    background: #ffcc00;
    color: #222529;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    font-weight: 600;
    width: max-content;
    margin: 0px auto;
}

.banner-btn:hover{
    cursor: pointer;
    background-color: #37b1e2;
}

/* whatsapp chat */


/* .whatsapp{
    right: 30px;
    bottom: 95px;
} */

.whatsapp{
    position: fixed;
    z-index: 999;
    right: 30px;
    bottom: 95px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    padding: 5px 15px;
    color: #fff;
}

.whatsapp i{
    position: absolute;
    font-size: 24px;
    top:50%;
    left:50%;
    margin-left:-10px;
    margin-top:-12px;
}

.whatsapp:hover{
    background-color: #fff;
    color: green;
}

.whatsapp.active{
    background: green;
    color: #fff;
}

/* back to top */


#scroll {
    z-index: 999;
    position:fixed;
    right:30px;
    bottom: 30px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #294658;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color: #ffcc00;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

  .slider-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .left-slide {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
  }
  
  .left-slide > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #294658;
  }
  
  .left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
  }

  .left-slide p{
    font-size: 18px;
  }
  
  .right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
  }
  
  .right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }
  
  .down-button, .up-button {
    background-color: #ffffff77;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    transition: background-color 0.5s ease;
  }
  
  .down-button:hover, .up-button:hover {
    background-color: #ffffffa1;
  }
  
  .down-button:focus, .up-button:focus {
    outline: none;
  }
  
  .slider-container .action-buttons button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
  }
  
  .slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-radius: 50% 0 0 50%;
  }
  
  .slider-container .action-buttons .up-button {
    transform: translateY(-100%);
    border-radius: 0 50% 50% 0;
  }
  

  .get-in-touch {
    margin: 0 auto;
    position: absolute;
    top: 65%;
    left: 10%;
    background: #fff;
    padding: 10px 50px 10px;
    border-radius: 15px;
    /* height: 100px; */
    transform: translate(-50px, -50px);
}


.get-in-touch:hover{
    cursor: pointer;
}


/******* fade effects  *********/

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fade-up {
    animation: fade-up 1s ease-in;
  }

  .active.fade-up-form {
    animation: fade-up-form 1s ease-in;
  }

  .active.fadeInAnimation{
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fade-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


/***** about us *****/

.about-us-container{
    background-image: url(images/about-bg.png);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* height: 400px; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.overlay-about{
    background-color: transparent;
    background-image: linear-gradient(5deg, #fff 0%, #FFFFFF00 80%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.abouts-us-content{
    text-align: center;
    font-size: 20px;
}

/* our services  */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services img{
    width: 90px;
}

.service-name{
    text-transform: uppercase;
    font-weight: 600;
}


/**** why choose us ****/

.whychoose{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.icons img{
    width: 100px;
}


/********* contact us  ******/


.contact-content{
    display: flex;
    gap: 5px;
}

.contact-content-heading {
    font-weight: 600;
}

.contact-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
}

.contact-links a{
    text-decoration: none;
    color: inherit;
}

.contact-links i{
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
    background-color: #294658;
}

.social{
    display: flex;
    gap: 10px;
}


/*Reviews*/

.reviews-container{
    background-image: url(images/testim-bg.jpg);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: fixed;
}


.box-area{
    padding: 30px;
    position: relative;
    display: block;
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
    margin: 40px 0;
    min-height: 222px;
}

.box-area h5{
    font-size: 16px;
    font-weight: 700;
    color: #ffcc00;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-area .content{
    color: #222529;
}

.box-area .img-area{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.box-area .img-area img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-prev, .owl-next{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    background: #37b1e2;
    position: absolute;
}

.owl-prev {
    left: -45px;
    top: -30px;
}

.owl-next{
    right: -45px;
    top: -30px;
}

/********* footer css  ********/

.footer-container.container-fluid {
    margin: 0;
    background: #37b1e2;
    padding: 50px 20px;
    text-align: center;
}

.useful-footer-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.useful-footer-links a{
    font-weight: 600;
    color: #222529;
}

.useful-footer-links a:hover{
    color: #fff;
}

@media screen and (max-width:1024px) {
    .get-in-touch{
        padding: 10px 25px 10px;
    }
    
    .banner-form{
        gap: 15px;
    }
}

@media screen and (max-width:768px){
    .box-area{
        text-align: center;
    }

    .get-in-touch{
        top: 67%;
        left: 8%;
        padding: 10px 14px 10px;
    }

    .up-button, .down-button{
        padding: 10px;
    }

    .navbar-nav{
        display: flex;
        margin: 0;
        flex-direction: row;
    }

    .banner-form{
        gap: 10px;
    }

    .contact-links {
        gap: 5px;
        margin-top: 20px;
    }

    .wrapper-text{
        margin-top: 200px !important;
    }

    .whatsapp{
        right: 30px;
    bottom: 85px;
    }

    .footer-container .row .col-12{
        border: none !important;
    }
    
}

@media screen and (max-width:450px) {

    .whatsapp{
        right: 30px;
    bottom: 85px;
    }

    .home-services-container .row{
        padding-bottom: 0 !important;
    }

    .right-header{
        display: none;
    }

    .left-header{
        margin: 0;
    }

    .header{
        justify-content: center;
    }

    .left-slide h1 {
        font-size: 16px;
    }

    .left-slide p {
        font-size: 12px;
        text-align: center;
    }

    .get-in-touch{
        display: none;
    }

    .banner-form-mobile{
        display: block;
    }

    .border-start, .border-dark{
        border: none !important;
    }

    .why-choose-us-container .row{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bg-box{
        width: 80%;
    }

    .wrapper-one p, .wrapper-two p, .wrapper-three p {
        font-size: 14px;
    }

    .abouts-us-content{
        font-size: 12px;
    }

    .services {
        gap: 10px;
    }

    .service-name{
        font-size: 12px;
    }

    .wrapper-text {
        font-size: 24px;
    }
}